**/.claude/settings.local.json

# Dependency directories
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
